.link-rout{
    display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            font-family: 'Roboto';
            font-size: clamp(13px, 2vw, 16px);
            font-weight: 700;
            letter-spacing: 2px;
            width: 123px;
            text-align: center;
            align-items: center;
            color: white;
            text-decoration: none;
}


.link-rout:hover {
background-color:#5F5FB0;
/* text-decoration:double */
}

iframe#webpack-dev-server-client-overlay{display:none!important}